#content {	
	margin: 0 auto;
	max-width: 870px;
	/*border: 1px solid #ccc;*/
	padding: 20px;
}
div.post {
	border-bottom: 1px solid #ccc;
	/*margin: 10px;*/
	margin-bottom: 20px;
	padding-bottom: 20px;
	vertical-align: center;
	/*background: #f6f;*/
}
div.profile {
	display: block;
	height: 52px; /* img size 50px + img border 2*1px */
}
img.profilepic {
	display: inline;
	/*float: left;*/
	width: 50px;
	height: 50px;
	margin-right: 10px;
	border: 1px solid #ccc;
	border-radius: 50%;
	vertical-align: middle;
}
div.profile > a.name {
	display: inline;
	font-weight: bold;
	padding: auto 0;
}
div.profile > span.date {
	color: #888;
}
div.profile > a.name,
div.profile > span.date {
	vertical-align: middle;
}

.post {
	margin-bottom: 20px;
}
.post:last-child {
	border-bottom: none;
	margin-bottom: 0;
	padding-bottom: 0;
}

.post > .message {
	display: block;
	width: 100%;
	margin-top: 10px;
	/*padding: 0 -10px 0 20px;*/
	/*border: 1px solid #ccc;*/
	text-align: justify;
}

.post > .message > textarea {
	width: 100%;
	height: 100%;
}

.answers {
	margin-top: 20px;
	padding-left:20px;
	border-left: 1px solid #ccc;
}
.answers > .post {
	margin-bottom: 10px;
	padding-bottom: 0;
	border: none;
}
.answers > .post > .profile {
	/*margin-right: 30px;*/
	/*float: left;*/
}