#header {
	background: #C60C30;
	border-bottom: 1pt solid black;
	text-align: center;
	padding: 10px 20px;
}

#logo {
	width: 200px;
	height: 65px;
	vertical-align: middle;
	margin: 0 10px 10px 0;
}

#header h1 {
	display: inline-block;
	font-size: 18pt;
	color: #fff;
	margin: 0 0 10px 10px;
}