* {
	padding: 0;
	margin: 0;
	text-decoration: none;
	border: none;
	color: #000;
	font: 12pt/18pt sans-serif;
}
html, body {
	height: 100%;
	width: 100%;
}
h1 {
	font-size: 20pt;
	margin-bottom: 1em;
}
p {
	text-align: justify;
	margin-bottom: 1em;
}
a {
	color: #C60C30;
	/*text-decoration: none;*/
}
a:hover {
	text-decoration: underline;
}
a:active {
	position:relative;
	top: 1pt;
}