#nav {
	margin: 0 auto;
	width: 874px;
	height: 102px; /* 100px + 2*1px border */
	padding: 10px 20px;
}

#navTutor, #navTutee {
	display: inline-block;
	/*padding: 10px;*/
	float: left;
	width: 430px;
	height: 100px;
	border: 1px solid #ccc;
	text-align: center;
}
#navTutor {
	margin-right: 10px;
}

#navTutor > a, #navTutee > a {
	display: block;
	margin-top: 40px;
}